<app-title title="Catalógo de Livros">

</app-title>

<table class="table table-striped">
  <thead class="table-dark">

      <tr>
        @for(column of COLUMNS;track column)
        {
          <th scope="col" >{{column}}</th>
        }

      </tr>
  </thead>
  <tbody>
    @for(livro of livros;track livro._id){
      <tr>

        <td >
            <div >
                <div class="w-100">{{livro.titulo}}</div>
                <button (click)="excluirLivro(livro)" type="button" class="btn btn-danger mt-3">Excluir</button>
            </div>

        </td>
        <td>{{livro.resumo}}</td>
        <td>{{livro.editora}}</td>
        <td>
            <ul>
              @for(autor of livro.autores;track autor){
                <li>{{autor}}</li>
              }
            </ul>
        </td>


      </tr>

    }

  </tbody>
</table>
