<app-title title="Catalógo de Livros">

</app-title>

<table class="table table-striped">
  <thead class="table-dark">

      <tr>
        @for(column of COLUMNS;track column)
        {
          <th scope="col" >{{column}}</th>
        }

      </tr>
  </thead>
  <tbody>
    @for(livro of livros_service.getLivros();track livro.getTitulo()){
      <tr>

        <td >
            <div >
                <div class="w-100">{{livro.getTitulo()}}</div>
                <button (click)="livros_service.excluirLivro(livro)" type="button" class="btn btn-danger mt-3">Excluir</button>
            </div>

        </td>
        <td>{{livro.getResumo()}}</td>
        <td>{{livro.getEditora()}}</td>
        <td>
            <ul>
              @for(autor of livro.getAutores();track autor){
                <li>{{autor}}</li>
              }
            </ul>
        </td>


      </tr>

    }

  </tbody>
</table>
